*.class
*.log
.DS_Store
.bloop/
.bsp/
.cache
.history
.lib/
.metals/
.scala-build
.vscode/
dist/*
lib_managed/
node_modules
project/boot/
project/metals.sbt
project/plugins/project/
project/project/
src_managed/
target/